.flex {
    display: flex;
    flex: 1;
}

.text-black-50 {
    color: rgba( 0, 0, 0, 0.56 );
}

.text-center {
    text-align: center;
}

.text-caption {
    font-size: 12px;
    letter-spacing: 0.4;
    font-weight: 400;
}